.container{
    font-size: 17px;
}
.box{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.box > a{
    display: block;
    font-size: 17px;
    font-weight: 500;
    margin: 10px;
}