.ensetChiffre{
    width: 90vw;
    margin: 20px auto;
}
.ensetChiffre span{
    display: block;
    height: 5px;
    width: 100%;
    background-color: #163172;
}
.chiff{
    width: 60vw;
    margin: 0 auto;
    box-sizing: border-box;
    font-size: 17px;
    font-weight: 300;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.chiff div{
    width: 170px;
    text-align: center;
    background-color:  #dff9fb;
    border-radius: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:10px;
}

.chiff div p:last-child{
    margin-bottom: 0;
}